body{
	font-family: 'Open Sans', sans-serif;
}




/*Header*/
#header {
	border-bottom: 1px solid #A6A6A6;
	background: #F8F9FA;
}
.col-md-2.phone {
	border-right: 1px solid #A6A6A6;
	float: right;
	padding: 5px;
}
.phone p {
	float: right;
	line-height: 0px;
	padding-top: 14px;
}
.phone img {
	padding-left: 80px;
	margin: 4px;
}
.col-md-2.msg {
	padding: 6px 5px 0px 5px;
}
.msg img{
	height:17px;
	width:15px;
}




/*Navigation*/
.bg-light {
	background-color: #fff !important;
}
.d-inline-block.align-top {
	height: 80px;
	width: 80px;
}
.brd-txt {
	font-size: 40px;
	line-height: 0px;
	font-weight:bold;
}
.navbar-nav {
	list-style:circle;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: .5rem;
	padding-left: .5rem;
	margin-left: 0px;
	margin-right: 18px;
}

.btn-primary {
	color: #fff;
	background-color: #DE2B24;
	border-color: #DE2B24;
}
.btn-primary:hover{
	color: #DE2B24;
	background-color: #fff;
	border-color: #DE2B24;
}
.btn-primary.focus, .btn-primary:focus {
	box-shadow: 0 0 0 .2rem #DE2B24;
}





/*Banner*/
#banner{
	background-image: url('images/banner.jpg');
	background-repeat: no-repeat; 
	background-size: cover;
	position:center;
	height:500px;
	
}
#banner h4 {
	font-size: 2.5rem;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding-top: 180px;
}
#banner p {
	text-align: center;
	font-size: 19px;
	color: #fff;
	line-height: 10px;
}
.btn-primary.bg {
	margin-left: 573px;
	background: #F8CD53;
	border: 1px solid #F8CD53;
	font-weight:bold;
}
.btn-primary.bg:hover {
	margin-left: 573px;
	background: #F8CD53;
	border: 1px solid #F8CD53;
	color:#f1f1f1;
}
.btn-primary.focus, .btn-primary:focus {
	box-shadow:none;
}




/*About*/
#about {
	padding: 90px 0px 90px 0px;
	text-align: center;
}
#about img {
	padding: 16px;
}
.about-title h3 {
	font-size: 36pt;
	font-weight: bold;
	line-height: 60px;
}
.about-title p {
	font-size: 20pt;
	line-height: 20px;
}
.about-title hr {
	width: 40px;
	border: 2px solid #000;
	margin-bottom: 25px;
}
.fb-land-ads h4{
	font-size:22pt;
	font-weight:bold;
}
.fb-land-ads p {
	font-size: 16px;
}


/*Approch*/
#approch {
	background: #F3F3F3;
	padding: 80px 0px 120px 0px;
}
.approch-title {
	text-align: center;
}
.approch-title h3 {
	font-size: 36pt;
	font-weight: bold;
}
.approch-title p {
	font-size: 17pt;
}
.approch-title hr {
	width: 40px;
	border: 2px solid #000;
	margin-bottom:60px;
}
#step-1 {
	margin: 0px 0px 70px 0px;
}
#step-2{
	margin: 0px 0px 70px 0px;
}
#step-3{
	margin: 0px 0px 70px 0px;
}
#step-4{
	margin: 0px 0px 70px 0px;
}
.left-img {
	position: relative;
	padding: 0px;
}
.step-left {
	background: #DE2B24;
	height: 120px;
	width: 127px;
	text-align: center;
	margin-top: 65px;
	border-radius: 10px;
	border: 3px solid #fff;
	margin-left: 311px;
	position: absolute;
	z-index: 4;
}
.step-left h2 {
	font-size: 45pt;
	color: #fff;
	font-weight: bold;
	line-height: 43px;
	padding-top: 16px;
}
.step-left p {
	font-size: 20pt;
	color: #fff;
	line-height: 22px;
	font-weight: bold;
}
.left-img-txt {
	position: relative;
	background: #fff;
	padding: 0px;
	box-shadow: 0px 1px 2px 0px;
}
.left-img-txt h6 {
	padding: 68px 0px 0px 100px;
	font-size: 18pt;
	font-weight: bold;
}
.left-img-txt p {
	padding: 0px 25px 0px 100px;
	font-size: 16px;
}
.right-img {
	position: relative;
	padding: 0px;
}
.step-right {
	background: #DE2B24;
	height: 120px;
	width: 127px;
	text-align: center;
	margin-top: 65px;
	border-radius: 10px;
	border: 3px solid #fff;
	margin-left: 676px;
	position: absolute;
	z-index: 4;
}
.step-right h2 {
	font-size: 45pt;
	color: #fff;
	font-weight: bold;
	line-height: 43px;
	padding-top: 16px;
}
.step-right p {
	font-size: 20pt;
	color: #fff;
	line-height: 22px;
	font-weight:bold;
}
.right-img-txt {
	position: relative;
	background: #fff;
	padding: 0px;
	box-shadow: 0px 1px 2px 0px;
	text-align: right;
	padding: 0px 102px 0px 0px;
}
.right-img-txt h6 {
	padding: 68px 0px 0px 80px;
	font-size: 18pt;
	font-weight: bold;
}
.right-img-txt p {
	padding: 0px 0px 0px 30px;
	font-size: 16px;
}



/*Work*/
#work {
	background: #DE2B24;
	padding: 100px 0px 130px 0px;
}
.work-title {
	text-align: center;
	padding: 30px;
}
.work-title h3 {
	font-size: 36pt;
	font-weight: bold;
	line-height: 38px;
	color:#fff;
}
.work-title p {
	font-size: 17pt;
	line-height: 30px;
	color:#fff;
}
.work-title hr {
	width: 40px;
	border: 2px solid #fff;
	margin-bottom: 25px;
}
.content-icon {
	padding: 0px;
	text-align: center;
	color: #fff;
	background: #F35E59;
	height: 285px;
}
.content-icon  h5 {
	font-size: 26pt;
	font-weight: bold;
}
.content-icon p {
	font-size: 16px;
	line-height: 10px;
}
.content-icon img {
	padding: 65px 0px 0px 0px;
	width: 60px;
}
.content-img{
	padding:0px;
}

.inner {
	overflow: hidden;
}
.inner img{
	transition:all .5s ease;
}
.inner:hover img{
	transform:scale(1.2);
	
}
.img-fluid.cnt-img {
	height: 285px!important;
	padding: 0px;
}

/*Facebook Analysis*/
#fb-analysis {
	background: #1287BF;
	padding: 90px 0px 110px 0px;
}

.fb-anly-title{
	text-align:center;
}
.fb-anly-title h3 {
	font-size: 36pt;
	font-weight: bold;
	line-height: 38px;
	color:#fff;
}
.fb-anly-title p {
	font-size: 17pt;
	line-height: 0px;
	color:#fff;
}
.icon{
	margin:0 auto;
}
.user-input {
	width: 80px;
	height: 80px;
	background: #1287BF;
	padding: 15px;
	border-radius: 70%;
	margin: 14px 0px 0px 510px;
	border: 3px solid #FFF;
}
.card-body {
	padding:50px;
}
.card .card-body p {
	text-align: center;
	padding: 10px 4px;
}
.form-group {
	line-height: 0px;
}
.user-inf-sbm {
	border-radius: 0px;
	margin: 0px 0px 0px 45px;
}



/*Footer Top*/
.footer-top {
	background: #2A2A2A;
	color: #fff;
	text-align: center;
	padding: 80px;
}
.footer-top h4 {
	font-weight: bold;
	font-size: 36pt;
}
.footer-top p {
	font-size: 14pt;
	padding: 15px 0px 0px 0px;
}
.footer-top img {
	border: 1px solid #fff;
	margin: 10px;
	padding: 10px;
}
.footer-top img:hover {
	border: 1px solid #DE2B24;
}
.subscribe {
	padding: 0px 200px;
	margin: 20px 0px;
}
.subscribe-input {
	border-radius: 0px;
	background: #515151;
	border: none;
}
.subscribe-btn {
	background: #2A2A2A;
	border: 1px solid #515151;
	border-radius: 0px;
	margin: 10px 0px;
	padding: 8px 30px;
	color: #aea9a9;
	margin: 0 auto;
}
.subscribe-btn:hover {
	color: #fff;
	background: #2A2A2A;
	border: 1px solid #2a2a2a;
}




/*Foooter*/
.footer {
	background: #515151;
	padding-top: 20px;
	margin: 0 auto;
	padding-bottom: 15px;
}
.footer p {
	margin: 0 auto;
	color: #f1f1f1;
	font-size: 14pt;
}



/*#########################################################*/
/*Max width 1024*/
@media only screen and (max-width: 1024px){
	/*Header*/
	.phone img {
	padding-left: 60px;
	}
	.phone p {
		font-size: 14px;
	}
	.msg span {
		font-size: 14px;
	}
	
	
	/*Banner*/
	#banner {
		height: 384px;
	}
	#banner h4 {
		padding-top: 133px;
	}
	.btn-primary.bg {
		margin-left: 414px;
	}
	.btn-primary.bg:hover {
		margin-left: 414px;
	}
	
	
	
	/*About*/
	.about-title h3 {
		font-size: 30pt;
		line-height: 50px;
	}
	.about-title p {
		font-size: 15pt;
		line-height: 10px;
	}
	.about-title hr {
		border: 1px solid #000;
	}
	.fb-land-ads h4 {
		font-size: 19pt;
		font-weight: bold;
	}
	.fb-land-ads p {
		font-size: 11.5pt;
	}
	
	
	
	/*Approch*/
	.approch-title h3 {
		font-size: 30pt;
	}
	.approch-title p {
		font-size: 15pt;
		line-height: 18px;
	}
	.approch-title hr {
		width: 42px;
		border: 1px solid #000;
	}
	.step-left {
		height: 98px;
		width: 98px;
		margin-top: 49px;
		margin-left: 260px;
	}
	.step-left h2 {
		font-size: 37pt;
		line-height: 32px;
		padding-top: 15px;
	}
	.step-left p {
		font-size: 18pt;
	}
	.left-img-txt h6 {
		padding: 47px 0px 0px 73px;
		font-size: 17pt;
	}
	.left-img-txt p {
		padding: 0px 25px 0px 73px;
		font-size: 11.5pt;
	}
	.step-right {
		height: 98px;
		width: 98px;
		margin-top: 49px;
		margin-left: 569px;
	}
	.step-right h2 {
		font-size: 37pt;
		line-height: 32px;
		padding-top: 15px;
	}
	.right-img-txt h6 {
		padding: 47px 0px 0px 62px;
		font-size: 17pt;
	}
	.right-img-txt p {
		font-size: 11.5pt;
	}
	
	
	
	/*work*/
	.work-title {
		padding-bottom: 40px;
	}
	.work-title h3 {
		font-size: 30pt;
	}
	.img-fluid.cnt-img {
		height: 190px !important;
	}
	.content-icon {
		height: 190px;
	}
	.content-icon img {
		padding: 47px 0px 0px 0px;
		width: 40px;
	}
	.content-icon h5 {
		font-size: 20pt;
	}
	.content-icon p {
		font-size: 11pt;
	}


	
	/*Facebbok Analysis*/.fb-anly-title h3 {
		font-size: 30pt;
	}
	.user-input {
		width: 70px;
		height: 70px;
		padding: 15px;
		margin: 14px 0px 0px 426px;
	}
	
	
	/*Footer*/
	.footer-top h4 {
		font-size: 30pt;
	}
	.footer-top img {
		margin: 5px;
		padding: 5px;
	}
	.footer-top p {
		font-size: 13pt;
	}		
}


/*Max width 768*/
@media only screen and (max-width: 768px){
	#header {
		display: none;
	}
	.navbar {
		padding: 10px; 
	}
	
	
	
	/*banner*/
	#banner {
		height: 285px;
	}
	#banner h4 {
		padding-top: 88px;
	}
	.btn-primary.bg {
		margin-left: 278px;
	}
	.btn-primary.bg:hover {
		margin-left: 278px;
	}
	
	
	
	/*About*/
	.about-title h3 {
		font-size: 28pt;
		line-height: 35px;
	}
	.about-title p {
		font-size: 13pt;
	}
	.fb-land-ads  img {
		height: 90px;
	}
	.fb-land-ads h4 {
		font-size: 14pt;
	}
	.fb-land-ads p {
		font-size: 10.5pt;
	}
	
	
	
	
	/*Approch*/
	.approch-title h3 {
		font-size: 28pt;
	}
	.approch-title p {
		font-size: 13pt;
		line-height: 12px;
	}
	.left-img img {
		height: 215px;
	}
	.step-left {
		margin-top: 57px;
		margin-left:180px;
	}	
	.left-img-txt h6 {
		padding: 33px 0px 0px 73px;
		font-size: 15pt;
	}	
	.step-right {
		margin-top: 58px;
		margin-left: 411px;
	}	
	.right-img img {
		height: 215px;
	}		
	.right-img-txt {
		padding: 0px 73px 0px 0px;
	}
	.right-img-txt h6 {
		padding: 33px 0px 0px 62px;
		font-size: 15pt;
	}
		
		
		
	/*work*/
	.work-title h3 {
		font-size: 28pt;
	}
	.work-title p {
		font-size: 13pt;
		line-height: 9px;
	}
	.work-title hr {
		border: 1px solid #fff;
	}
	.img-fluid.cnt-img {
		height: 153px !important;
	}
	.content-icon img {
		padding: 22px 0px 0px 0px;
		width: 33px;
	}
	.content-icon h5 {
		font-size: 17pt;
	}
	.content-icon p {
		font-size: 10.5pt;
	}
	.content-icon {
		height: 153px;
	}
	
	
	
	/*Facebook Analysis*/
	.fb-anly-title h3 {
		font-size: 28pt;
		line-height: 12px;
	}
	.fb-anly-title p {
		font-size: 14pt;
	}
	.fa.fa-arrow-down {
		font-size: 28px;
	}	
	.user-input {
		width: 70px;
		height: 70px;
		padding: 15px;
		margin: 14px 0px 0px 307px;
	}	
		
		
		
	/*Footer top*/
	.footer-top h4 {
		font-size: 28pt;
	}
	.subscribe {
	padding: 0px 0px; 
	margin: 20px 0px;

}
	
	.footer-top img {
		margin: 3px;
		padding: 3px;
	}
	
}





/*Max width 640*/
@media only screen and (max-width: 640px){
	/*Banner*/
	#banner {
		height: 238px;
	}
	#banner h4 {
		font-size: 28pt;
		padding-top: 55px;
	}
	.btn-primary.bg {
		margin-left: 215px;
	}
	.btn-primary.bg:hover {
		margin-left: 215px;
	}
	
	
	
	/*About*/
	.about-title h3 {
		font-size: 36pt;
		line-height: 35px;
	}
	.about-title p {
		font-size: 15pt;
		line-height: 25px;
	}
	.about-title hr {
		border: 2px solid #000;
	}
	.fb-land-ads img {
		height: 140px;
	}
	.fb-land-ads h4 {
		font-size: 22pt;
	}
	.fb-land-ads p {
		font-size: 13.5pt;
	}
	
	
	
	
	/*Approch*/
	.approch-title h3 {
		font-size: 32pt;
	}
	.approch-title p {
		font-size: 15pt;
	}
	.approch-title hr {
		border: 2px solid #000;
	}
	.left-img img {
		height: 332px;
		width: 540px;
	}
	.step-left {
		margin-top: 258px;
		margin-left: 183px;
		padding: 15px;
		height: 150px;
		width: 160px;
	}
	.step-left h2 {
		font-size: 50pt;
		padding-top: 15px;
	}
	.step-left p {
		font-size: 30pt;
		line-height: 52px;
	}
	.left-img-txt h6 {
		padding: 103px 0px 0px 25px;
		font-size: 22pt;
	}
	.left-img-txt p {
		padding: 0px 25px 25px 25px;
		font-size: 14.5pt;
	}
	.right-img-txt h6 {
		padding: 33px 0px 0px 0px;
		font-size: 22pt;
		float: left;
	}
	.right-img-txt p {
		font-size: 14.5pt;
		float: left ;
		padding: 0px;
		text-align: left;
	}
	.step-right {
		height: 140px;
		width: 140px;

	}
	.right-img-txt {
		padding: 0px 25px 95px 25px;
	}
	.step-right {
		margin-top: 256px;
		margin-left: 183px;
		padding: 15px;
		height: 150px;
		width: 160px;
	}
	.step-right h2 {
		font-size: 50pt;
		padding-top: 15px;
	}
	.step-right p {
		font-size: 30pt;
		line-height: 52px;
	}
	.right-img img {
		height: 332px;
		width: 540px;
	}
	
	
	
	
	/*work*/
	.work-title h3 {
		font-size: 32pt;
	}
	.work-title p {
		font-size: 15pt;
		line-height: 12px;
	}
	.work-title hr {
		border: 2px solid #fff;
	}
	.content-icon {
		height: 360px;
	}
	.content-icon img {
		padding: 75px 0px 0px 0px;
		width: 90px;
	}
	.content-icon h5 {
		font-size: 30pt;
	}
	.content-icon p {
		font-size: 15pt;
	}
	.img-fluid.cnt-img {
		height: 360px !important;
	}
	
	/*Facebook Analysis*/
	.fb-anly-title h3 {
		font-size: 32pt;
		line-height: 42px;
	}
	.user-input {
		margin: 14px 0px 0px 214px;

	}
	
	/*fOOter Top*/
	.footer-top h4 {
		font-size: 32pt;
	}
	.footer-top p {
		font-size: 12pt;
	}
	.subscribe {
		width: 448px;
		padding:0px;
	}
	.subscribe-btn {
		margin: 0 auto;
	}
}




/*Max width 480*/
@media only screen and (max-width: 480px){
	/*Banner*/
	#banner {
		height: 178px;
	}
	#banner h4 {
		font-size: 25pt;
		padding-top: 41px;
	}
	#banner p {
		font-size: 16px;
	}
	.btn-primary.bg {
		margin-left: 133px;
	}
	.btn-primary.bg:hover{
		margin-left: 133px;
	}
	
	
	
	/*About*/
	.about-title h3 {
		font-size: 25pt;
		line-height: 26px;
	}
	.about-title p {
		font-size: 18px;
		line-height: 14px;
	}
	.fb-land-ads img {
		height: 110px;
	}
	.fb-land-ads h4 {
		font-size: 20pt;
	}
	.fb-land-ads p {
		font-size: 16px;
	}
	
	
	
	
	/*Approch*/
	.approch-title h3 {
		font-size: 25pt;
	}
	.approch-title p {
		font-size: 18px;
	}
	.left-img img {
		height: 290px;
		width: 540px;
	}
	.step-left {
		margin-top: 220px;
		margin-left: 153px;
		padding: 10px;
		height: 140px;
		width: 150px;
	}
	.left-img-txt h6 {
		padding: 93px 0px 0px 25px;
		font-size: 17pt;
	}
	.left-img-txt p {
		padding: 0px 25px 25px 25px;
		font-size: 16px;
	}
	.step-right {
		margin-top: 246px;
	}
	.right-img-txt h6 {
		padding: 35px 0px 0px 25px;
		font-size: 17pt;
	}
	.right-img-txt p {
		padding: 0px 25px 25px 25px;
		font-size: 16px;
	}
	.right-img-txt {
		padding: 0px 25px 65px 25px;
	}
	.right-img img {
		height: 290px;
		width: 540px;
	}
	
	
	
	/*Work*/
	.work-title h3 {
		font-size: 25pt;
	}
	.work-title p {
		font-size: 18px;
	}
	.content-icon img {
		padding: 95px 0px 0px 0px;
		width: 70px;
	}
	.content-icon h5 {
		font-size: 23pt;
	}
	.content-icon p {
		font-size: 17px;
	}
	
	
	
	
	
	
	
	/*Facebook analysis*/
	.fb-anly-title h3 {
		font-size: 25pt;
		line-height: 35px;
	}
	.fb-anly-title p {
		font-size: 18px
	}
	.user-input {
		width: 60px;
		height: 60px;
		padding: 10px;
		margin: 10px 0px 0px 185px;
	}
	
	
	/*Footer*/
	.footer-top h4 {
		font-size: 25pt;
	}
	.subscribe {
		width: 289px;
	}
}

/*Max width 320*/
@media only screen and (max-width: 320px){
	.container {
		padding-right: 0px; 
		padding-left: 0px; 
	}
	.d-inline-block.align-top {
		height: 65px;
		width: 66px;
	}
	.brd-txt {
		font-size: 25px;
	}
	
	
	/*Banner*/
	#banner {
		height: 130px;
	}
	#banner h4 {
		font-size: 22pt;
		padding-top: 30px;
	}
	#banner p {
		font-size: 16px;
		line-height: 19px;
	}
	.btn-primary.bg {
		display: none;
	}
	
	
	
	/*About*/
	.about-title h3 {
		font-size: 22pt;
		line-height: 26px;
	}
	.about-title p {
		font-size: 16px;
		line-height: 8px;
	}
	.about-title hr {
		border: 1px solid #000;
	}
	.fb-land-ads h4 {
		font-size: 18pt;
	}
		
		
		
	/*Approch*/
	.approch-title h3 {
		font-size: 22pt;
	}
	.approch-title p {
		font-size: 16px;
		line-height: 22px;
	}
	.approch-title hr {
		border: 1px solid #000;
	}
	.left-img img {
		height: 270px;
		width: 320px;
	}
.step-left {
		margin-top: 220px;
		margin-left: 90px;
		height: 105px;
		width: 110px;
	}
	.step-left h2 {
		font-size: 38pt;
		padding-top: 1px;
	}
	.step-left p {
		font-size: 20pt;
		line-height: 26px;
	}
	.left-img-txt h6 {
		padding: 70px 0px 0px 25px;
		font-size: 17pt;
	}
	.right-img-txt {
		padding: 0px 25px 43px 25px;
	}
	.right-img-txt h6 {
		padding: 35px 0px 0px 0px;
	}
	.right-img-txt p {
		padding: 0px;
	}
	.step-right {
		margin-top: 244px;
		margin-left: 90px;
		height: 105px;
		width: 110px;
	}
	.step-right p {
		font-size: 20pt;
		line-height: 26px;
	}
	.step-right h2 {
		font-size: 38pt;
		padding-top: 1px;
	}
	.right-img img {
		height: 270px;
		width: 320px;
	}
	
	
	
	
	
	/*work*/
	.work-title h3 {
		font-size: 22pt;
	}
	.work-title p {
		font-size: 15pt;
		line-height: 20px;
	}
	.work-title hr {
		border: 1px solid #fff;
	}
	.content-icon {
		height: 290px;
		width: 335px;
	}
	.content-icon h5 {
		font-size: 20pt;
	}
	.content-icon p {
		font-size: 16px;
	}
	.content-icon img {
		padding: 75px 0px 0px 0px;
		width: 60px;
	}
	.img-fluid.cnt-img {
		height: 240px !important;
		width: 335px;
	}
	
	
	
	
	/*Facebook Analysis*/
	.fb-anly-title h3 {
		font-size: 22pt;
		line-height: 31px;
	}
	.fb-anly-title p {
		font-size: 16px;
	}
	.user-input {
		width: 50px;
		height: 50px;
		padding: 9px;
		margin: 3px 0px 0px 132px;
	}
	
	/*Foooter*/
	.footer-top {
		padding: 80px 20px;
	}
	.footer-top h4 {
		font-size: 20pt;
	}
	.subscribe {
		width: 258px;
	}
	.subscribe-input {
		width: 228px;
	}
		
	
	
	.footer p {
		font-size: 16px;
	}
}


